.ajala_tooltip {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: black;
  border-radius: 16px;
  color: white;
  width: 100%;
  max-width: 350px;
}

.ajala_header {
  display: flex;
  justify-content: space-between;
  gap: 62px;
  align-items: center;
  margin-bottom: 16px;
}

.ajala_dot_navs {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
}

.ajala_dot_nav {
  width: 12px;
  height: 6px;
  background-color: #363637;
  border-radius: 4px;
}

.ajala_dot_nav_active {
  background-color: white;
}

.ajala_close_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  outline: none;
  border: none;
  width: 16px;
  height: 16px;
  cursor: pointer;
  aspect-ratio: 1/1;
}

.ajala_title {
  font-size: 22px;
}

.ajala_content {
  font-size: 16px;
  margin-top: 6px;
  margin-bottom: 20px;
}

.ajala_footer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.ajala_btn_prev,
.ajala_btn_next {
  flex: 1;
  width: 100%;
  padding: 10px 24px;
  border-radius: 18.75px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}
.ajala_btn_prev:active,
.ajala_btn_next:active {
  outline: 2px solid white;
}
.ajala_btn_prev {
  background-color: black;
  color: white;
}
.ajala_btn_next {
  background-color: white;
  color: black;
}
